<%= render Dropdown::Component.new( label: @label,
																		variant: @variant, 
																		size: @size,
																		orientation: @orientation,
																		origin: @origin,
																		button: @button
																	) do %>
	<% @items.each do |item| %>

		<% checked_class = item[:checked] ? 
			"bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-gray-100" : '' 
		%>
		
		<div class="py-1">
			<% if item[:render] %>
				<%= item[:render].call({
					class: "w-full group flex items-center
					px-4 py-2 text-sm leading-5 
					text-gray-700 dark:text-gray-200
					hover:bg-gray-100 hover:text-gray-900
					focus:outline-none focus:bg-gray-100
					focus:text-gray-900
					dark:hover:bg-gray-700 dark:hover:text-gray-100
					dark:focus:bg-gray-800"
				}).html_safe %>
			<% else %>
				<%= content_tag(:a, 
					href: item[:href], 
					data: item[:data],
					class: "w-full group flex items-center
					px-4 py-2 text-sm leading-5 
					text-gray-700 dark:text-gray-200
					hover:bg-gray-100 hover:text-gray-900
					focus:outline-none focus:bg-gray-100
					focus:text-gray-900
					dark:hover:bg-gray-700 dark:hover:text-gray-100
					dark:focus:bg-gray-800
					#{checked_class}") do %>
		
					<% if item[:state] == "checked" %>
						<div class="text-sm text-green-500">
							<!--<CheckmarkIcon>check</CheckmarkIcon>-->
							<%= heroicon "check-circle" %>
						</div>
					<% end %>

					<% if item[:icon] %>
						<%= item[:icon] %>
					<% end %>

					<div class="flex flex-col justify-between ml-2">
						<span class="font-bold self-start dark:text-gray-100">
							<%= item[:name] || item[:title] %>
						</span>

						<% if item[:description] %>
							<span class="text-xs text-left dark:text-gray-300">
								<%= item[:description] %>
							</span>
						<% end %>
					</div>

				<% end %>	
			<% end %>	
		</div>
	<% end %>
<% end %>

