<%= turbo_frame_tag "quick_reply_editor", 
	class: 'w-2/3 relative z-0 p-6 shadow dark:bg-gray-800 rounded rounded-l-none' do %>
	<% if @quick_reply.present? %>

		<%= render Tabs::Component.new(	items: quick_replies_menu_data(app: @app, quick_reply: @quick_reply ) ) do %>

      <div class="flex justify-end">
				<%= button_to t("common.delete"), app_quick_reply_path(@app.key, @quick_reply), 
					method: :delete,
					class: 'btn btn-danger sm',
					form: { "data-turbo-frame": "_top" }
				%>	
			</div>		

			<%= form_for @quick_reply,
				url: app_quick_reply_path(@app.key, @quick_reply, locale: params[:locale] ) do |f| %>
		
				<% I18n.with_locale(params[:locale] || I18n.locale) do %>
					<%=  f.text_field :title %>
					<%= f.hidden_field :locale, value: params[:locale] %>

					<div 
						class="dark:bg-black border-2 p-4 border-gray-200 rounded my-4"
						data-controller="dante-editor" 
						data-content="<%= @quick_reply.content %>">
						<div data-dante-editor-target="container"></div>
						<%= f.hidden_field :content, 
							data: {"dante-editor-target": "serializedInput"},
							value: f.object.content
						%>
					</div>
				<% end %>

				<div class="flex justify-end">
					<%= f.submit t("common.submit"), class: 'btn btn-success sm' %>			
				</div>

			<% end %>
		<% end %>
	<% end %>
<%end %>
