<%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings', data: {controller: 'history-frame'} do %>

		<%= render PageHeader::Component.new(title: I18n.t('settings.app.app_settings')) do %>

		<% end %>

		<%= render Tabs::Component.new(	items: settings_menu_data ) do %>

			<%= render Hints::Component.new(type: 'quick_replies') %>

        <div class="flex justify-end">
          <%= link_to new_app_quick_reply_path(@app.key), 
						"data-turbo-frame": "quick_reply_editor", 
						class: "btn btn-flat-dark md my-2" do %>
            <%= I18n.t('common.create') %>
          <% end %>
        </div>
  
        <div class="flex">
          <div class="w-1/3 bg-white dark:bg-black shadow overflow-hidden rounded rounded-r-none">
            <%= render 'list' %>
          </div>

					<%= turbo_frame_tag "quick_reply_editor", 
						class: 'w-2/3 relative z-0 p-6 shadow bg-yellow rounded rounded-l-none' do %>
		 				
          <%end %>
        </div>
		<% end %>
	<% end %>
<% end %>