<div class="input-wrapper <%= @size %>">


  <label for="<%= @name %>"><%= @label %></label>

	<input
		type="text"
		auto-complete="off"
		value="<%= @value %>"
		id="<%= @id %>"
		name="ctx[values][<%= @id || @name %>]"
	></input>

	<% if @action %>

		<%= render ButtonRenderer::Component.new(
			id: @id,
			label: nil,
			action: {"type"=>'submit'}
			) do %>
			<div>
				<%= heroicon("arrow-small-right")%>
			</div>
		<% end %>


	<% end %>

	<!--
	        {field.action && (
          <TextInputButton
            onClick={(e) => {
              if (!isDisabled() && !isSaved()) handleAction(e, field)
            }}
            saved={field.save_state === 'saved'}
            disabled={isDisabled()}
          >
            {field.save_state === 'saved' ? (
              <CheckIcon />
            ) : loading ? (
              <Progress />
            ) : (
              <ArrowRight />
            )}
          </TextInputButton>
        )}
	-->

	<% if @errors %>
		<span class="error"><%= @errors %></span>
	<% end %>

	<% if @hint %>
	<span class="helper-text">
		<%= @hint %>
	</span>
	<% end %>

</div>
