

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= image_tag "logo.png", class:"block lg:hidden h-8 w-auto", alt:"Chaskiq" %>
            <%= image_tag "logo.png", class:"hidden lg:block h-8 w-auto", alt:"Chaskiq" %>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/tester/<%= @app.key%>" class="text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Visit as identified user</a>
              <a href="/tester/<%= @app.key%>?sessionless=true" class="text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Visit as a lead</a>
              <a href="/tester/<%= @app.key%>/about" class="text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
              <a href="/tester/<%= @app.key%>/services" class="text-gray-500 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Services</a>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>

<div class="bg-white">
  <div class="max-w-2xl mx-auto py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Chaskiq tester site</h2>
      <p class="mt-4 text-gray-500">Use this page to test the embed and the campaigns</p>
    </div>

    <div class="mt-16 space-y-16">
      <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
        <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-1">
          <h3 class="text-lg font-medium text-gray-900">Minimal and thoughtful</h3>
          <p class="mt-2 text-sm text-gray-500">Our laptop sleeve is compact and precisely fits 13&quot; devices. The zipper allows you to access the interior with ease, and the front pouch provides a convenient place for your charger cable.</p>
        </div>
        <div class="flex-auto lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-6 xl:col-start-5">
          <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
            <img src="https://tailwindui.com/img/ecommerce-images/product-feature-07-detail-01.jpg" alt="White canvas laptop sleeve with gray felt interior, silver zipper, and tan leather zipper pull." class="object-center object-cover">
          </div>
        </div>
      </div>

      <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
        <div class="mt-6 lg:mt-0 lg:row-start-1 lg:col-span-5 xl:col-span-4 lg:col-start-8 xl:col-start-9">
          <h3 class="text-lg font-medium text-gray-900">Refined details</h3>
          <p class="mt-2 text-sm text-gray-500">We design every detail with the best materials and finishes. This laptop sleeve features durable canvas with double-stitched construction, a felt interior, and a high quality zipper that hold up to daily use.</p>
        </div>
        <div class="flex-auto lg:row-start-1 lg:col-span-7 xl:col-span-8 lg:col-start-1">
          <div class="aspect-w-5 aspect-h-2 rounded-lg bg-gray-100 overflow-hidden">
            <img src="https://tailwindui.com/img/ecommerce-images/product-feature-07-detail-02.jpg" alt="Detail of zipper pull with tan leather and silver rivet." class="object-center object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
