<% if section %>
	<div class="flex justify-between py-4 items-center">
		<h3 class="text-3xl leading-6 font-medium text-gray-900 py-4 dark:text-gray-100">
			<%= section.title%>
		</h3>

		<div class="flex space-x-3">

			<%= link_to( t("articles.add_articles"), 
				uncategorized_app_articles_path(@app.key, section_id: section, collection_id: @article_collection.slug), 
				data: {
				'turbo-frame': 'modal',
				}, 
				class: "btn btn-outlined sm") 
			%>

			<%= button_to app_articles_section_path(@app.key, section), class: "btn btn-danger sm", method: :delete do %>
				<%= t("articles.delete_section")%>
			<% end %>
		</div>

	</div>
<% end %>

<% I18n.with_locale(params[:locale] || I18n.locale) do  %>

	<%= render Table::Component.new(
		data: articles, 
		config: {
			columns: [
				#{name: :position },
				#{name: :id },
				{name: :title, render: lambda{ |record|
						raw %{
							<div class="min-w-0 flex-1 flex items-center">
								<div class="flex-shrink-0">
									#{ image_tag( record.author.avatar_url, class:"rounded-full h-8 h-8") if record.author and record.author.avatar_url}
								</div>

								<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
									<div>
										#{ link_to record.title, app_article_path(@app.key, record), class: 'text-lg leading-6 font-bold text-gray-900 dark:text-gray-100 pb-1 hover:underline' }
										<br/>
										<span class="mt-2 max-w-xl text-sm leading-5 text-gray-500 dark:text-gray-300">
											#{record.author.display_name}<br/>#{record.author.email}
										</span>
									</div>
								</div>
							</div>
						}
					} 
				},
			]
		},
		sortable: sort_app_articles_sections_path(@app.key, collection_id: @collection_id),
		sortable_group: section&.id || 'base',
		paginate: nil,
		headless: true
	)%>

<% end %>