	<div class="py-4">
		<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 pb-4">
			<%= I18n.t('task_bots.settings.leads.start_conversation') %>
		</p>

		<%= form_for @app, url: app_settings_path(@app.key, redirect: leads_app_bots_path(@app.key) ) do |f|  %>
			<%= f.fields_for @app.lead_tasks_settings_objects do |ff|%>

				<%= ff.check_box :delay, label: I18n.t('task_bots.settings.leads.delay')  %>
				<%= ff.check_box :share_typical_time, label: I18n.t('task_bots.settings.leads.share_time') %>

				<hr class="mt-8" />

				<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 py-4">
					<%= I18n.t('task_bots.settings.leads.route') %>
				</p>

				<p class="max-w-xl text-sm leading-5 text-gray-500 dark:text-gray-300 mb-4">
					<%= I18n.t('task_bots.settings.leads.route_desc') %>
				</p>

				<h2 class="font-bold mb-2">
					<%= I18n.t('task_bots.settings.leads.route_costumer') %>
				</h2>

				<div class="flex items-center justify-start">
					<%= ff.radio_button :routing, 'assign', label: I18n.t('task_bots.settings.leads.assign'), checked: ff.object.routing == 'assign' %>
					<div class="w-1/4 sm:w-full- py-2">
						<% # if ff.object.routing === "assign" %>
							<% tags = @app.agents %>
							<%= ff.select :assignee, options_for_select(
								tags.map { |o| [ (o.name || o.email), o.id.to_s ] }, ff.object.assignee.to_s ), 
								{}, {

									data: {
										'select-target': 'select', 
										options: tags.map{|o| {label: (o.name || o.email), value: o.id.to_s } }.to_json 
										}
									}
							%>
					</div>
					<% # end %>
				</div>

				<div class="flex items-center">
					<%= ff.radio_button :routing, 'close', label: I18n.t('task_bots.settings.leads.close'), checked: ff.object.routing == 'close' %>
				</div>
				
				<hr class="my-5" />

				<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 py-4">
					<%= I18n.t('task_bots.settings.leads.ask') %>"
				</p>

				<p class="max-w-xl text-sm leading-5 text-gray-500 dark:text-gray-300 mb-4">
					<%= I18n.t('task_bots.settings.leads.ask_hint') %>
				</p>

				<div class="flex flex-col">
					<%= ff.radio_button :email_requirement, 'never', label: I18n.t('task_bots.settings.leads.dont_ask_email') %>
					<%= ff.radio_button :email_requirement, 'email_or_phone', label: I18n.t('task_bots.settings.leads.ask_email_phone') %>
					<%= ff.radio_button :email_requirement, 'email_only', label: I18n.t('task_bots.settings.leads.email_only') %>
				</div>

				<div class="py-4">
					<button
						class="btn btn-success md">
						<%= I18n.t('common.save') %>
					</button>
				</div>
			<% end %>
		<% end %>
	</div>
</div>