<%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings' do %>

		<%= render PageHeader::Component.new(title: I18n.t('settings.app.contact_avatars')) do %>

		<% end %>

		<%= render Tabs::Component.new(	items: settings_menu_data(app: @app) ) do %>
			
			<%= form_for @app do |form|%>
				<div class="py-4">
					<!--<Hints type="contact_avatars" />-->

					<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 pb-2">
						<%= I18n.t('settings.contact_avatars.title') %>
					</p>

					<p><%= I18n.t('settings.contact_avatars.hint') %></p>
				</div>

				<hr />

				<div class="flex flex-row-reverse py-4">
					<div class="w-3/4">
						<!-- <Input
							type="select"
							onChange={(o) => {
								setAvatarType(o.label);
							}}
							defaultValue={{
								value: avatarType,
								label: avatarType,
							}}
							label={I18n.t('settings.contact_avatars.choose_color')}
							data={{}}
							options={avatarOptions.map((o) => ({
								value: o,
								label: o,
							}))}
						></Input>-->

						<div class="flex">
							<!--{palette.map((o, index) => (
								<div class="mr-2" key={`contact-avatar-${index}`}>
									<Input
										type="color"
										variant="circle"
										value={`#${o}`}
										defaultValue={'#ff00ff'}
										label={null}
										onChange={(color) => {
											//hidden.current.value = color;
											//handleChange();
											let o = new Array(...palette);
											o[index] = color.replace('#', '');
											setPalette(o);
										}}
									/>
								</div>
							))}-->
						</div>
					</div>

					<div class="w-1/4 flex items-center justify-center">
						<!--<Avatar
							size={24}
							src="https://www.gravatar.com/avatar/null?d=blank"
							alt="string"
							avatar_kind={avatarType}
							palette={palette.map((o) => o).join(',')}
						/>-->
						<%= render(Avatar::Component.new(src: "https://www.gravatar.com/avatar/null?d=blank", app: @app, size: 24)) %>
					</div>
				</div>

				<div class="py-4">
					<%= form.submit %>
					<!-- <Button
						onClick={handleSubmit}
						variant={'success'}
						color={'primary'}
						size="md"
					>
						{I18n.t('common.save')}
					</Button>-->
				</div>

			<% end %>

		<% end %>
	<% end %>
<% end %>