<div
	class="flex items-start py-2 text-md flex-row-reverse">
		<div class="
			shadow sm:rounded-lg
			flex-1
			p-3
			max-w-full <%= @block_class %>">
			<div class="flex justify-between pb-4">
					<div class="flex items-center">
						<span class="font-bold text-gray-100">
							<%= @message.authorable.display_name %>
						</span>
					</div>
					<span class="flex items-center text-xs text-gray-100">
						<time datetime="<%= @message.created_at %>"> <%= time_ago_in_words @message.created_at %> </time>
						<span class="text-gray-100"> - <span>
							<%= @message.read? ? t("messages.seen") : t("messages.not_seen") %>
						</span>
					</span>

						<div class="relative inline-block text-left">
								<div class="flex">
									<button class="transition duration-150 ease-in-out ml-2 css-1coknnr">
											<svg class="text-gray-400 css-1dhg8p7" fill="currentColor" viewBox="0 0 20 20">
												<path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path>
											</svg>
									</button>
								</div>
						</div>
					</span>
			</div>
			<div class="css-1qhlrzf">
				<div
					data-controller="conversation-part"
					<%= @message.private_note? ? 'data-is-private-note=true' : '' %>
					<%= @message.authorable.is_a?(Agent) ? 'data-from-admin=true' : '' %>
					data-serialized="<%= @message.message.serialized_content %>"
					data-html="<%= @message.message.html_content %>">
					<%= raw @message.message.html_from_serialized %>
				</div>
			</div>
		</div>
</div>