
<div class="ml-auto flex">
	

	<%= render 'apps/conversations/menu_items/state' %>

	<%= render 'apps/conversations/menu_items/priorize' %>

	<div id="button-element" class="hidden"></div>

	<%= render 'apps/conversations/menu_items/call' %>
	
	<%= render 'apps/conversations/menu_items/tags' %>

	<%= render 'apps/conversations/menu_items/assignee' %>

	<div
		class="flex items-center text-gray-300" style="margin-right: -30px; margin-left: 16px;">
			<button
				data-action="click->conversation#toggleSidebar" 
				class="w-5 transition duration-150 ease-in-out hidden md:block css-o2cca7">
				<svg fill="currentColor" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation" class="css-1dhg8p7">
						<path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
				</svg>
			</button>
	</div>
</div>