    <div
      style="z-index:1000"
      class="alert <%= placement_class %>"
			data-controller="<%= identifier %>"
    >
      <div
				
        // style={props}
        // x-data="{ show: true }"
        show={true}
        enter="transform ease-out duration-300 transition"
        enterFrom="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
        enterto="translate-y-0 opacity-100 sm:translate-x-0"
        leave="transition ease-in duration-100"
        leaveFrom="opacity-100"
        leaveTo="opacity-0"
        class="max-w-sm w-full bg-white dark:bg-gray-900 dark:border-gray-200 border border-transparent dark:text-gray-200 shadow-lg rounded-lg pointer-events-auto"
      >
        <div class="rounded-lg shadow-xs overflow-hidden">
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
								<%= status_icon.html_safe %>
							</div>
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
									<%= @title || @status %>
                </p>
                <p class="mt-1 text-sm leading-5 text-gray-500 dark:text-gray-300">
                  <%= @message %>
                </p>
              </div>
              <div class="ml-4 flex-shrink-0 flex">
                <button
                  data-action="click-><%= identifier %>#close"
                  class="inline-flex text-gray-400 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150"
                >
                  <svg
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fillRule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clipRule="evenodd"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>