<div data-controller="messenger" 
  id="chaskiq-messenger"
  data-url="<%= messenger_path(@app.key) %>"
  class="justify-start overflow-hidden absolute inset-0 flex flex-col">
  
  <div id="chaskiq-streams" data-turbo-permanent="true">
    <% #= Time.now.to_i %>
    <%= turbo_stream_from @app, @app_user %>
    <div style="display:none;" id="chaskiq-custom-events">
      <% #= render "messenger/custom_event", data: {a: 1}.to_json %>
    </div>
  </div>

  <header id="chaskiq-header" class="h-19 relative min-h-19 bg-gradient-to-br from-[rgb(3,23,2)] to-black text-[rgb(243,243,243)] transition-height ease-out duration-160">
    <div in="in" class="cache-emo-smxb2e">
      <%= render "messenger/header" %>
    </div>
  </header>

  <div class="cache-emo-ngqrd3">

    <div id="bbbb">

      <% if @needs_privacy_consent %>
        <%= render "messenger/consent" %>
      <% end %>

      <%= render "messenger/home"%>
      <% #= render "messenger/conversations" %>
    </div>

    <div id="callStatus" class="cache-emo-8zxa2t"></div>
    <div id="callInitiator" class="cache-emo-155mgen"></div>
    <div class="cache-emo-8ofs6p" style="visibility: hidden;">
      <div id="call-wrapper" style="visibility: hidden;">
        <div id="localVideo"></div>
        <div id="remoteVideo"></div>
        <div id="status-information">
          <div id="info"></div>
        </div>
        <div id="callButtons" class="cache-emo-cdm8xt"></div>
      </div>
    </div>
  </div>

</div>
