<div data-controller="messenger"
  id="chaskiq-messenger"
  data-messenger-open-value="<%= params[:open] || "false" %>"
  data-action="mouseenter->messenger#handleMouseOver mouseleave->messenger#handleMouseLeave"
  data-messenger-inline-conversations-value="<%= @app.inline_new_conversations_value %>"
  data-url="<%= messenger_path(@app.key) %>"
  class="justify-start overflow-hidden absolute inset-0 flex flex-col">

  <div id="chaskiq-streams" data-turbo-permanent="true">
    <% #= Time.now.to_i %>
    <%= turbo_stream_from @app, @app_user.id %>
    <div style="display:none;" id="chaskiq-custom-events">
      <% #= render "messenger/custom_event", data: {a: 1}.to_json %>
    </div>
  </div>


  <header id="chaskiq-header"
    style="--background: url('<%= @app.customization_colors.to_h["pattern"] %>')"
    data-bg="url('<%= @app.customization_colors.to_h["pattern"] %>')"
    class="h-19 relative min-h-19 bg-gradient-to-br from-[rgb(3,23,2)] to-black text-[rgb(243,243,243)] transition-height ease-out duration-150">
    <div in="in" class="cache-emo-smxb2e fade-in-right">



      <div class="cache-emo-7aqlvw">
        <button data-action="messenger#toggle">
          <svg viewBox="0 0 212.982 212.982" width="512" height="512" palette="[object Object]" style="height: 16px; width: 16px;">
          <path d="M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.491 81.18 30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312l-75.936-75.936z" fill="#f3f3f3" fill-rule="evenodd" clip-rule="evenodd">
          </path>
        </svg>
        </button>
      </div>

      <%= render "messenger/header" %>
    </div>
  </header>


  <div class="cache-emo-ngqrd3">
    <%= render "messenger/home_body" %>
  </div>


</div>
