
<style>


  @keyframes animation-33401f {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  .css-13u6xjo {
      animation: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running animation-33401f;
      z-index: 2147483000;
      position: fixed;
      bottom: 91px;
      right: 20px;
      width: 376px;
      min-height: 250px;
      max-height: 704px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
      opacity: 1;
      height: calc(100% - 120px);
      border-radius: 8px;
      overflow: hidden;
  }



  @keyframes animation-yi2a6m {
    0% {
        transform: rotate(-45deg);
    }

    100% {
        transform: translateY(-8px);
    }
  }

  .cache-emo-1ttjy62 {
      display: block;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px, rgba(0, 0, 0, 0.28) 0px 4px 8px;
      cursor: pointer;
      transition: all 0.1s ease-out 0s;
      position: relative;
      z-index: 998;
      color: rgb(243, 243, 243);
      background: rgb(81, 5, 146);
      float: right;
      margin: 16px 8px;
      animation: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0s 1 normal both running animation-yi2a6m;
  }

  #prime-wrapper {
      z-index: 10000;
      position: absolute;
      bottom: -17px;
      width: 70px;
      height: 87px;
      right: 0px;
      border: none;
  }
</style>

<!--
<div class="fixed w-[376px] right-[14px] bottom-[14px] z-[2147483647]">
  <div class="css-13u6xjo">
    <iframe src="<%= messenger_path("1223") %>" width="100%" height="100%" style="border:none"></iframe>
  </div>

  <div id="prime-wrapper">
    <div id="chaskiq-prime" class="cache-emo-1ttjy62">
      <div style="transition: all 0.2s ease-in-out 0s; transform: rotate(180deg);">
        <svg viewBox="0 0 212.982 212.982" width="512" height="512" palette="[object Object]" style="height: 26px; width: 21px; margin: 13px 16px;">
        <path d="M131.804 106.491l75.936-75.936c6.99-6.99 6.99-18.323 0-25.312-6.99-6.99-18.322-6.99-25.312 0L106.491 81.18 30.554 5.242c-6.99-6.99-18.322-6.99-25.312 0-6.989 6.99-6.989 18.323 0 25.312l75.937 75.936-75.937 75.937c-6.989 6.99-6.989 18.323 0 25.312 6.99 6.99 18.322 6.99 25.312 0l75.937-75.937 75.937 75.937c6.989 6.99 18.322 6.99 25.312 0 6.99-6.99 6.99-18.322 0-25.312l-75.936-75.936z" fill="#f3f3f3" fill-rule="evenodd" clip-rule="evenodd">
        </path>
        </svg>
      </div>
    </div>
  </div>

</div>
-->

<div id="someId">
</div>


 <script type="text/javascript">
  window.onload = function() { 
    Chaskiq.load(
      { 
        selector: "#someId",
        domain: '<%= Chaskiq::Config.get("HOST") %>',
        ws:  '<%= Rails.application.config.action_cable.url %>',
        app_id: "<%= @app.key %>",
        data: <%= raw @encrypted_data %>,
        lang: "USER_LANG_OR_DEFAULTS_TO_BROWSER_LANG" 
      }
    ); 
  }
</script> 

