<!-- app/components/avatar_component.html.erb -->
<span class="inline-block relative <%= size == 'full' ? 'w-full' : '' %>">
  <img
    style="background-size: contain; background-image: url('https://source.boringavatars.com/<%= avatar_kind %>/128/<%= encoded_name %>?colors=<%= resolved_palette %>');"
    class="<%= size_class_name %> rounded-full bg-white <%= classes %>"
    src="<%= src %>"
    alt="<%= alt || src %>"
  />

  <% if indicator %>
    <span class="absolute top-0 right-0 block h-3 w-3 transform -translate-y-1/2 -translate-x-1/4 rounded-full text-white shadow-solid bg-green-400 border-white border-2"></span>
  <% end %>
</span>