
<li class="">
		<div class="undefined block
			hover:bg-gray-100
			dark:bg-black
			dark:hover:bg-gray-900
			dark:focus:bg-gray-800
			focus:outline-none focus:bg-gray-200 transition duration-150
			ease-in-out">
			<div class="flex items-center px-4 py-4 sm:px-6">
					<div class="min-w-0 flex-1 flex items-center">
						<div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
								<div>
									<div class="text-lg leading-5 font-medium text-gray-600 dark:text-gray-200 truncate">
											<div class="flex"><%= integration.app_package.name %> </div>
									</div>
									<div class="mt-2 flex items-center text-sm leading-5 text-gray-500 dark:text-gray-300">
											<span class="truncate">
												<div class="flex flex-col">
														<span class="mb-2"><%= integration.app_package.description %></span>
														<div class="flex">
															<% integration.app_package.tag_list.each do |tag| %>
																<span class="mr-2 inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium
																	bg-blue-300 text-blue-800
																	"><%= tag %>
																</span>
															<% end %>

															<br/>

															<% integration.app_package.capability_list.each do |tag| %>
																<span class="mr-2 inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium
																	bg-green-300 text-green-800
																	"><%= tag %>
																</span>
															<% end %>
														</div>
												</div>
											</span>
									</div>
								</div>
								<div class="hidden md:block">
									<div>
											<div class="space-x-3 mt-2 flex items-center text-sm leading-5 text-gray-500 justify-end">
												

												<%=  link_to( I18n.t('common.edit'), 
																	edit_app_integration_path(@app.key, integration), 
																	data: {
																	'turbo-frame': 'modal', 
																	'turbo-action': 'replace', 
																	'action': 'click->modal#open'
																	}, 
																	class: "btn btn-outlined sm")
												%>

												<%= button_to( I18n.t('common.delete'), 
																	app_integration_path(@app.key, integration), 
																	class: "btn btn-flat-dark sm", 
																	method: :delete) 
												%>

											</div>
									</div>
								</div>
						</div>
					</div>
			</div>
		</div>
</li>
