<%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings', data: {controller: 'history-frame'} do %>

		<%= render PageHeader::Component.new(title: I18n.t('settings.integrations.title') ) do %>
			<% if params[:kind] == "yours" %>
				<%= link_to( I18n.t('settings.integrations.create_integration'), 
					new_app_package_path(@app.key), 
					class: "btn btn-flat-dark md") 
				%>
			<% end %>
		<% end %>

		<%= render Tabs::Component.new(	items: integrations_menu_data ) do %>
			<%= render Hints::Component.new(type: 'integrations') %>

			<div class="
				bg-white 
				shadow 
				overflow-hidden sm:rounded-md">
				<ul>
					<%= @integrations ? render( partial: 'app_package_integration', collection: @integrations, as: :integration) : '' %>
					<%= @app_packages ? render( partial: 'app_package', collection: @app_packages, as: :app_package) : '' %>
					<%= @agent_app_packages ? render( partial: 'agent_app_package', collection: @agent_app_packages, as: :app_package) : '' %>

				</ul>
			</div>

		<% end %>
	<% end %>
<% end %>