<%= turbo_frame_tag 'conversation-sidebar-packages', class: "space-y-2" do %>

	<div class="flex justify-between pb-3 pt-2">
			<div class="text-sm leading-5 font-bold text-gray-900 dark:text-gray-100">
			<%= link_to sidebar_app_conversation_path(@app.key, @conversation.key, open: false),
				data: {turbo_frame: "conversation-sidebar"},
				class: "w-5 transition duration-150 ease-in-out" do %>
					<%= heroicon("chevron-right") %>
				<% end %>
			</div>
			<a
				turbo-frame="conversation-sidebar-packages"
				turbo-action="replace"
				href="<%= app_inbox_packages_path(@app.key, kind: 'edit', conversation_key: params[:conversation_key]) %>"
				class="text-sm leading-5 font-bold text-gray-900 dark:text-gray-100 hover:text-indigo-500">
				customize
			</a>
	</div>

	<div class="space-y-3">
		<% @inbox_packages.each_with_index do |d, index| %>
				
				<div class="rounded-md border border-gray-200 bg-white dark:bg-gray-800 dark:border-gray-800 w-full p-2--">
					<p class="hidden text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
						<%= d["name"]%>
					</p>

					<% #= d %>
					<div id="inbox-<%= params[:conversation_key] %>-<%= d["name"] %>">
						<%= render DefinitionRenderer::Component.new(
								schema: d["definitions"],
								blocks: d,
								size: d["sm"],
								app_package: d["name"],
								location: "inbox",
								values: d["values"],
								conversation_key: params[:conversation_key],
								path: app_inbox_package_path(@app.key, d["name"], frame: "inbox-package-index-#{index}" ),
								app: @app,
								frame: "inbox-package-index-#{index}",
								ctx: {conversation_key: params[:conversation_key], location: "inbox" } #locals[:ctx]
						)%>
					</div>
				</div>
		<% end %>
	</div>

<% end %>