
<% #= @values %>
<% #= @schema %>

<div
	class="definition-renderer <%= @size %>"
	data-controller="<%= identifier %>"
	data-conversation-key="<%= @conversation_key %>"
	data-location="<%= @location %>"
	data-path="<%= app_package_path(@app.key, @app_package) %>">
	<form 
		data-<%= identifier %>-target="form"
		data-kind="<%= @blocks[:kind] %>"
		data-location-nonon="<%= @location %>"
		data-action="submit-><%=identifier%>#onSubmit">
		<input type="hidden" name="ctx[conversation_key]" value="<%= @conversation_key %>">
		<input type="hidden" name="ctx[location]" value="<%= @location %>">

		<% @schema.each do |item| %>
			<%= case item["type"]
				when "text" 
					render PadderRenderer::Component.new(size: @size  ) do
						render TextRenderer::Component.new(
							text: item['text'],
							align: item['align'],
							style: item['style']
						) 
					end
				when "list" then render ListRenderer::Component.new(
					field: item['items'],
				) 
				when "image" then render ImageRenderer::Component.new(
					url: item['url'],
					height: item['height'],
					width: item['width'],
					align: item['align'],
					rounded: item['rounded']
				)
				when "button" 
					render PadderRenderer::Component.new(size: @size  ) do
						render ButtonRenderer::Component.new(
							id: item['id'],
							variant: item['variant'] || 'default',
							label: item['label'],
							action: item['action'],
							size: @size || item['size'],
							align: item['align']
						) 
					end
				when "data-table" 
					render PadderRenderer::Component.new(size: @size  ) do
						render DataTableRenderer::Component.new(
							id: item['id'],
							items: item['items'],
							size: @size || item['size']
						) 
					end
				when "content" then render ContentRenderer::Component.new(
					id: item['id'],
					values: {values: @values}.to_json,
					path: content_app_package_path(@app.key, @app_package, @ctx)
				)
				when "input"  
					render PadderRenderer::Component.new(size: @size  ) do
						render InputRenderer::Component.new(
							id: item['id'],
							placeholder: item['placeholder'],
							errors: item['errors'],
							label: item['label'],
							save_state: item['save_state'],
							value: item['value'],   
							disabled: item['disabled'],
							loading: item['loading'], 
							name: item['name'],   
							hint: item['hint'],
							size: @size || item['size'] 
						)
					end
				when "spacer"
					render SpacerRenderer::Component.new(size: item["size"])
				when "separator"
					render SeparatorRenderer::Component.new()
				else 
				
				"---- no definition for #{item["type"]}--- \n"
					
				end %>

		<% end %>
	</form>
</div>


