<div 
  data-sortable-target="item"
  class="border p-2 sm:p-4 sm:mt-8 mt:2 nested-fields">

  <div class="flex justify-center items-center">
    <div>
      <div class="cursor-move btn btn-dark-flat">
        <%= heroicon "arrows-up-down" %>
      </div>
    </div>
    <div class="flex-grow">
      <%= form.hidden_field :_destroy %>
      <%= form.text_field :type %>
      <%= form.hidden_field :position, class: "position" %>
      <%= form.hidden_field :wait_for_input %>

      <% if form.object.type == "wait_for_reply" %>
        <%= render "apps/bots/editor/wait", form: form %>
      <% end %>

      <% if form.object.type == "ask_option" %>
		    <div
			    data-controller="nested-form" 
			    data-new-record="<%= true %>">

					<template 
						data-nested-form-target="template">
						<%= form.fields_for :schema, 
              BotPathStepSchema.new({element: 'button', label: 'write here', next_step_uuid: nil }), 
              child_index: 'NEW_RECORD' do |ff| %>
							<%= render "apps/bots/editor/ask_option", form: ff %>
						<% end %>
					</template>

          <% #= form.object.class %>
          <% #= form.object.schema %>
          
          <%= form.fields_for :schema, form.object.schema do |f| %>
            <%= render "apps/bots/editor/ask_option", form: f %>
          <% end %>

          <div class="my-3" data-nested-form-target="links">
            <%= link_to "Add message", "#", 
              class: "btn btn-outlined", 
              data: {  action: "click->nested-form#add_association" } 
            %>
          </div>
        </div>
      <% end %>
      <% #= form.object.as_json %>
    </div>
  <div>

  <button class="btn btn-icon"
    data-action="click->nested-form#remove_association"
    type="button">
    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 4.5l6 6m-6 0l6-6m-3 10a7 7 0 110-14 7 7 0 010 14z" stroke="currentColor"></path></svg>
  </button>
    
</div>