<div 
  data-sortable-target="item"
  class="border p-2 sm:p-4 sm:mt-8 mt:2 nested-fields" 
  data-new-record="true">

  <div class="flex justify-center items-center">
    <div>
      <div class="cursor-move btn btn-dark-flat">
        <%= heroicon "arrows-up-down" %>
      </div>
    </div>
    <div class="flex-grow">
      <%= form.text_field :type %>
      <%= form.hidden_field :position, class: "position" %>

      <% if form.object.type == "wait_for_reply" %>
        <%= form.hidden_field :wait_for_input %>
        <%= render "apps/bots/editor/wait", form: form %>
      <% end %>

			<% if form.object.is_a?(BotPathStepMessage) && form.object.controls.present? && form.object.controls.type != "wait_for_reply" %>
        <%= form.fields_for :controls, form.object.controls do |fc|%>
          <%= render "apps/bots/editor/package_fields", 
            fc: fc,
            bot_id: @bot.id,
            bot_step_id: "1",
            bot_path_id: "2"
          %>
        <% end %>
      <% end %>


      <% #= form.object.as_json %>
    </div>
  </div>

  <button class="btn btn-icon"
    data-action="click->nested-form#remove_association  click->bots#showFollowActionLinks"
    type="button">
    <%= heroicon("x-circle") %>
  </button>
    
</div>