<%= f.fields_for :steps, items do |fff| %>

	<div class="border-- border-red-600--" id="bot-step-<%= fff.object.step_uid %>">
		<%= fff.hidden_field :type %>
		<%= fff.hidden_field :step_uid, label: 'step id' %>
		<% # fff.object.type %>

		<div 
			data-controller="nested-form" 
			data-new-record="<%= true %>">
			<div data-nested-form-target="wrap" 
				id="bot-nested-fields-<%= fff.object.step_uid %>" 
				data-controller="sortable"
				data-handle=".cursor-move"
				data-new-record="true"
				class="bot-nested-fields">

				<% #= fff.object.messages.size %>
				<% #= fff.object.controls.present? ? fff.object.controls.type : "NONO" %>

				<%= fff.fields_for :controls, fff.object.controls, child_index: 'NEW_RECORD' do |ff| %>
					<%= render "apps/bots/editor/ask_option", form: ff, bot_step: fff.object.step_uid  %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<div 
  data-controller="nested-form" 
  data-new-record="<%= true %>">

    <%= f.fields_for :follow_actions, f.object.follow_actions do |fff| %>
      <%= fff.object %>
    <% end %>

    <template 
      data-nested-form-target="template" id="assignAgentTemplate">
      <%= f.fields_for :follow_actions, FollowAction.new({key: "assign_agent"}), 
        child_index: 'NEW_RECORD' do |fff| %>
        <%= render "apps/bots/editor/assign_agent", form: fff %>
      <% end %>
    </template>

    <template 
      data-nested-form-target="template" id="closeConversationTemplate">
      <%= f.fields_for :follow_actions, FollowAction.new({key: "close_conversation"}), 
        child_index: 'NEW_RECORD' do |fff| %>
        <%= render "apps/bots/editor/close_conversation", form: fff %>
      <% end %>
    </template>

</div>
