<div data-sortable-target="item" 
  class="border p-2 sm:p-4 sm:mt-8 mt:2 nested-fields">

  <div class="flex justify-center items-center">
    <div>
      <div class="cursor-move btn btn-dark-flat">
        <%= heroicon "arrows-up-down" %>
      </div>
    </div>
    <div class="flex-grow shadow border border-gray-400 rounded p-6 relative dark:bg-gray-800 bg-gray-100 max-w-sm">
      <div data-controller="dante-editor" 
        data-content="<%= form.object.serialized_content %>"
        data-editor-options="<%= {addButtonFixed: false, menuBarFixed: false}.to_json %>">
        <div data-dante-editor-target="container"></div>
        <%= form.hidden_field :serialized_content, 
          data: {"dante-editor-target": "serializedInput"},
          value: form.object.serialized_content.to_json
        %>
        <%= form.hidden_field :position, class: "position" %>
        <%= form.hidden_field :_destroy %>
      </div>
    </div>
    <div>

    <button class="btn btn-icon"
      data-action="click->nested-form#remove_association"
      type="button">
      <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M4.5 4.5l6 6m-6 0l6-6m-3 10a7 7 0 110-14 7 7 0 010 14z" stroke="currentColor"></path></svg>
    </button>
    
    </div>
  </div>
</div>