

	<% items.each do |step| %>
		<div class="step-container" id="step-container-<%= step.step_uid %>">
			<%= f.fields_for :steps, step, child_index: step.step_uid do |fff| %>

				<div class="border-- border-red-600--">
					<%= fff.hidden_field :type %>
					<%= fff.hidden_field :step_uid, label: 'step id' %>

					<%= fff.fields_for :controls, fff.object.controls do |fm| %>
						<%= render "apps/bots/editor/control", form: fm %>
					<% end %>

					<%= fff.fields_for :messages, fff.object.messages do |fm| %>
						<% if fm.object.present? %>
							<%= render "apps/bots/editor/message", form: fm %>
						<% end %>
					<% end %>


				</div>
			<% end %>
		</div>
	<% end %>

	<template
		data-nested-form-target="template"
		id="messagesTemplate-<%= f.object.id %>">
		<%= f.fields_for :steps, BotPathStep.new(type: "messages", messages: [{}]), child_index: 'NEW_RECORD' do |fff| %>
			<div class="step-container" id="step-container-NEW_RECORD">
				<div class="border-- border-red-600--">
					<%= fff.hidden_field :type %>
					<%= fff.hidden_field :step_uid, value: "NEW_RECORD" %>
					<%= fff.fields_for :messages, fff.object.messages, child_index: 'NEW_RECORD' do |ff| %>
						<%= render "apps/bots/editor/message", form: ff %>
					<% end %>
				</div>
			</div>
		<% end %>
	</template>

	<template
		data-nested-form-target="template"
		id="waitTemplate-<%= f.object.id %>">
		<%= f.fields_for :steps,
			BotPathStep.new({ type: "messages", controls: {type: "wait_for_reply"} }),
			child_index: "NEW_RECORD" do |fff| %>
			<div class="step-container" id="step-container-NEW_RECORD">
				<div class="border-- border-red-600--">
					<%= fff.hidden_field :type %>
					<%= fff.hidden_field :step_uid, value: "NEW_RECORD" %>
					<%= fff.object.type %>
					<%= fff.fields_for :controls, fff.object.controls , child_index: 'NEW_RECORD' do |ff| %>
						<%= render "apps/bots/editor/control", form: ff %>
					<% end %>
				</div>
			</div>
		<% end %>
	</template>

