<% items.each do |step| %>
	<div>
		<%= f.fields_for :steps, step, child_index: step.step_uid do |fff| %>

			<div class="border-- border-red-600--">
				<%= fff.hidden_field :type %>
				<% #= fff.text_field :wait_for_input %>
				<% #= fff.text_field :id, label: 'step id' %> 
				<%= fff.hidden_field :step_uid, label: 'step id' %>

				<% #= fff.object.type %>

				<div 
					data-controller="nested-form" 
					data-new-record="true">
					<% #if fff.object.type == "messages" %>
						<div data-nested-form-target="wrap" 
							id="bot-nested-fields-<%= fff.object.step_uid %>" 
							data-controller="sortable"
							data-handle=".cursor-move"
							class="bot-nested-fields">
							<template 
								data-nested-form-target="template" 
								id="messagesTemplate-<%= fff.object.step_uid %>">
								<%= fff.fields_for :messages, BotPathStepMessage.new(), child_index: 'NEW_RECORD' do |ff| %>
									<%= render "apps/bots/editor/message", form: ff %>
								<% end %>
							</template>

							<template 
								data-nested-form-target="template" 
								id="waitTemplate-<%= fff.object.step_uid %>">
								<%= fff.fields_for :controls, BotPathStepControl.new(type: "wait_for_reply"), child_index: 'NEW_RECORD' do |ff| %>
									<%= render "apps/bots/editor/control", form: ff %>
								<% end %>
							</template>


							<% #= fff.object.messages.size %>
							<% #= fff.object.controls.present? ? fff.object.controls.type : "NONO" %>

							<%= fff.fields_for :messages, fff.object.messages, include_id: true do |fm| %>
								<% if fm.object.present? %>
									<% if fm.object.controls.present? %>
										<%= render "apps/bots/editor/control", form: fm %>
									<% else %>
										<%= render "apps/bots/editor/message", form: fm %>
									<% end %>
								<% end %>
							<% end %>
						</div>
					<% #end %>

					<div class="mb-3" data-nested-form-target="links">
						<%= link_to "Add message", "#", 
							class: "btn btn-outlined", 
							data: { 
								action: "click->nested-form#add_association click->nested-form#refreshSortable",
								template_id: "#messagesTemplate-#{fff.object.step_uid}"
							} 
							%>

						<%= link_to "Add wait for input", "#", 
							class: "btn btn-outlined", 
							data: { 
								action: "click->nested-form#add_association click->nested-form#refreshSortable",
								template_id: "#waitTemplate-#{fff.object.step_uid}"
							} 
						%>

						<%= link_to "Add App", 
							capabilities_app_packages_path(
								@app.key, 
								kind: "bots",
								bot_step_id: fff.object.step_uid,
								bot_path_id: f.object.id,
								bot_id: @bot.id
							), 
							class: "btn btn-outlined", 
							data: { turbo_frame: "modal" }
						%>
					</div>
				</div>

			</div>
		<% end %>
	</div>
<% end %>