<% 
 f = locals[:f]
 segment = locals[:segment] 
 index = locals[:index]
%>

<div>
	<div class="relative inline-block text-left">
		<div class="flex">
			<%= render Dropdown::Component.new(
				label: 'Match all criteria',
				variant: 'outlined', 
				size: 'sm',
				orientation: 'left'
			) do %>


				<div class="p-2">

						Match all criteria
						
						<%= f.hidden_field :type %>
						<%= f.hidden_field :attribute %>
						<%= f.hidden_field :comparison %>
						<% #= f.hidden_field :value %>

						<% options = { 
							'Match all': 'and', 
							'Match any': 'or', 
						} %>

						<%= f.collection_radio_buttons(:value, options, :last, :first) do |b| %>
							<div class="form-check form-check-inline">
								<%= b.radio_button class: 'form-check-input', checked: locals[:segment].value.include?(b.value) %>
								<%= b.label class: 'form-check-label' %>
							</div>
						<% end %>

					
				</div>

				<div class="flex m-2 justify-between">
					
					<%= f.submit t("segment_manager.apply"), 
						class: 'btn xs btn-default',
						"data-action": "click->segment-manager#submit"
					%>

					<button type="button"
						data-segment="segment-index-<%=index%>"
						class='btn xs btn-danger'
						data-action="click->segment-manager#delete" >
						delete
					</button>

				</div>

			<% end %>
		</div>
	</div>
</div>