<%= turbo_frame_tag 'segment-table' do %>
	<div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
	
		<table class="min-w-full">
			<thead>
				<tr class="border-b bg-gray-50 dark:bg-gray-900 dark:border-gray-600">
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Name</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Tag List</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">State</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Web Sessions</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">First Seen</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Last Seen</th>
					<th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Last visited at</th>
				</tr>
			</thead>
			<tbody class="bg-white dark:bg-gray-900">
				<% results.each do |user| %>
					<tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50">
							<div class="flex items-center">
								<div class="flex-shrink-0 h-10 w-10">
									<span class="inline-block relative">
										<%= link_to app_contact_path(@app.key, user, sidebar: true),
											"data-turbo-frame": 'slide-modal',
											"data-turbo-action": 'replace', 
											"data-action": "click->slide-modal#open", 
											"data-url": app_contact_path(@app.key, user, sidebar: true) do %>
											
											<%= render(Avatar::Component.new(src: user.avatar_url, app: @app, size: "full")) %>
										<% end %>
									</span>
								</div>
								<div class="ml-4">
									<div class="text-sm leading-5 font-medium text-gray-900 dark:text-gray-100"><%= user.name %></div>
									<div class="text-sm leading-5 text-gray-500 dark:text-gray-300"><%= user.email %></div>
								</div>
							</div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50">
							<div class="flex flex-wrap space-y-1"></div>
						</td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50">
						
							<%= render Badge::Component.new(variant: user_subscription_variant(user.subscription_state)) do %>
								<%= user.subscription_state %>
							<% end %>
						</td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50">
							<%= user.web_sessions %>
						</td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50"></td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 dark:border-gray-900 hover:bg-gray-50 dark:hover:bg-gray-600 dark:text-gray-50"></td>
						<td class="px-6 py-4 whitespace-nowrap border-b border-gray-200 text-sm leading-5 text-gray-500">
							<time datetime="<%= user.last_visited_at %>"><%= user.last_visited_at %></time>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
	<div class="px-4 py-3 flex items-center justify-between sm:px-6--">
		<div class="flex-1 flex justify-between items-center">

			<%= link_to_prev_page results, 'Prev', class: "btn btn-outlined" %>

			<p class="text-sm leading-5 text-gray-700 dark:text-gray-50">
				Showing<span class="font-medium ml-1 mr-1"><%= results.size %></span>of<span class="font-medium ml-1 mr-1"><%= results.total_count %>
			</p>

			<%= link_to_next_page results, 'Next' , class: "btn btn-outlined" %>
		</div>
	</div>
<% end %>