<% turbo_frame_tag "profile-frame" do %>
  <%= render Tabs::Component.new(	items: contact_menu_data(app: @app, app_user: @app_user) ) do %>
    <% @app_user.conversations.each do |conversation| %>

      <div>
        <p class="text-2xl font-bold leading-6 text-gray-900 dark:text-gray-100 sm:text-2xl sm:leading-9 sm:truncate">
            <%= t('conversations.title') %>
        </p>

        <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
            <a 
              class="relative rounded-lg border
              border-gray-300 bg-white 
              dark:border-gray-900 dark:bg-black 
              px-6 py-5 shadow-sm flex items-center space-x-3
              hover:border-gray-400
              dark:hover:border-gray-800
              focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand"
              href="<%= app_conversations_path(app_key: @app.key, id: conversation.key) %>"
            >
              <div class="flex-shrink-0">
                <img class="h-10 w-10 rounded-full" src="<%= conversation.main_participant.avatar_url %>" alt="" />
              </div>
              <div class="flex-1 min-w-0">
                <a href="#" class="focus:outline-none">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-gray-900 dark:text-gray-100">
                      <%= conversation.main_participant.email %>
                  </p>
                  <div class="text-sm text-gray-500 dark:text-gray-200 truncate">
                    
                    <%= sanitize(conversation.latest_message&.message&.html_content || "").truncate(250, omission: '...').html_safe rescue "" %>
                  </div>
                </a>
              </div>
            </div>
        </div>
      </div>

    <% end %>
  <% end %>
<% end %>