<%= turbo_frame_tag "slide-modal" do %>

<div class="divide-y divide-gray-200">
   <div class="pb-6">
      <div class="bg-yellow-200 h-24 sm:h-20 lg:h-28"></div>
      <div class="-mt-12 flow-root px-4 space-y-6 sm:-mt-8 sm:flex sm:items-end sm:px-6 sm:space-x-6 lg:-mt-15">
         <div>
            <div class="-m-1 flex">
               <div class="inline-flex rounded-lg overflow-hidden border-4 border-white">
					   <%= render(Avatar::Component.new(src: @app_user.avatar_url, app: @app, size: "full")) %>

               	<% #= image_tag @app_user.avatar_url, class: "inline-flex rounded-lg overflow-hidden border-4 border-white" %>
            </div>
         </div>
         <div class="ml-3 sm:flex-1">
            <div>
               <div class="flex items-center space-x-2.5">
                  <h3 class="font-bold text-xl leading-7 text-gray-900 dark:text-gray-100 sm:text-2xl sm:leading-8">Miguel Michelson</h3>
                  <span aria-label="Online" class="ml-2 bg-green-400 flex-shrink-0 inline-block h-2 w-2 rounded-full"></span>
               </div>
               <p class="text-sm leading-5 text-gray-500">
								<%= @app_user.email %>
							</p>
            </div>
            <div class="mt-3 flex flex-wrap">
						<span class="flex-shrink-0 w-full inline-flex rounded-md shadow-sm sm:flex-1">
							<a class="w-full inline-flex items-center justify-center px-4 py-2  border border-transparent text-sm leading-5 font-medium  rounded-md text-white bg-gray-900 hover:bg-gray-800 focus:outline-none focus:border-pink-700 focus:shadow-outline-indigo active:bg-pink-700 transition ease-in-out duration-150" 
							href="<%= app_contact_path(@app.key, @app_user) %> ">
								show profile
							</a>
						</span>
						</div>
         </div>
      </div>
   </div>
   <div class="px-4 py-5 sm:px-0 sm:py-0">
      <dl class="space-y-8 sm:space-y-0">
         <div class="sm:flex sm:space-x-6 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500 dark:text-gray-300 sm:w-40 sm:flex-shrink-0 lg:w-48">Last seen</dt>
            <dd class="mt-1 text-sm leading-5 text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
               <p><time datetime="1625288756000">an hour</time></p>
            </dd>
         </div>

				<% attributes = ['country', 'city', 'web_sessions', 'browser', 'os', 'tag_list' ] %>

				<% attributes.each do |attribute| %>
         	<div class="sm:flex sm:space-x-6 sm:border-t sm:border-gray-200 dark:sm:border-gray-800 sm:px-6 sm:py-5">
            <dt class="text-sm leading-5 font-medium text-gray-500 dark:text-gray-300 sm:w-40 sm:flex-shrink-0 lg:w-48">
							<%= attribute %>
						</dt>
            <dd class="mt-1 text-sm leading-5 text-gray-900 dark:text-gray-100 sm:mt-0 sm:col-span-2">
							<%= @app_user.send(attribute.to_sym) %>
						</dd>
         	</div>
				<% end %>
         
      </dl>
   </div>
   <section class="shadow">
      <article class="border-b">
         <div class="border-r-4 bg-grey-lightest border-gray-800" aria-controls="Properties-content" id="panel1d-header">
            <header class="flex justify-between items-center p-5 pl-6 pr-8 cursor-pointer select-none">
               <span class="text-sm leading-5 font-medium text-gray-500 dark:text-gray-100 sm:w-40 sm:flex-shrink-0 lg:w-48">Properties</span>
               <button class="transition duration-150 ease-in-out  css-1n1bu9a">
                  <svg fill="currentColor" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation" class="css-1dhg8p7">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                  </svg>
               </button>
            </header>
            <div>
               <div class="pl-4 pr-4 pb-5 text-grey-darkest">
                  <ul class="pl-4"></ul>
               </div>
            </div>
         </div>
      </article>
      <article class="border-b">
         <div class="border-r-4 border-transparent" aria-controls="External Profiles-content" id="panel1d-header">
            <header class="flex justify-between items-center p-5 pl-6 pr-8 cursor-pointer select-none">
               <span class="text-sm leading-5 font-medium text-gray-500 dark:text-gray-100 sm:w-40 sm:flex-shrink-0 lg:w-48">External Profiles</span>
               <button class="transition duration-150 ease-in-out  css-1n1bu9a">
                  <svg fill="currentColor" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation" class="css-1dhg8p7">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                  </svg>
               </button>
            </header>
         </div>
      </article>
   </section>
</div>

<% end %>