<%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings', data: {controller: 'history-frame'} do %>

		<%= render PageHeader::Component.new(title: I18n.t('settings.app.app_settings')) do %>
			<%= link_to( I18n.t('common.add_new'), 
				new_app_user_datum_path(@app.key), 
				data: {
				'turbo-frame': 'modal', 
				'turbo-action': 'replace', 
				'action': 'click->modal#open'
				}, 
				class: "btn btn-flat-dark md") 
			%>
		<% end %>

		<%= render Tabs::Component.new(	items: settings_menu_data ) do %>

			<%= render Hints::Component.new(type: 'user_data') %>

			<p class="text-lg leading-6 font-medium  text-gray-900 dark:text-gray-100 py-4">
				<%= t('settings.user_data.title') %>
			</p>

			<div class="pb-8">
				<%= render 'table' %>
			</div>

			<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
				<%= t('settings.user_data.default_fields') %>
			</p>

			<p class="mt-2 max-w-xl text-sm leading-5 text-gray-500 dark:text-gray-300">
				<%= t('settings.user_data.non_editable') %>
			</p>

			<%= render ListRenderer::Component.new(field: @data) %>
		<% end %>

	<% end %>	
<% end %>