<div class="tabs w-full">
	<div class="scrollable overflow-auto">
		<nav class="-mb-px flex justify-start w-screen">
			<% items.each_with_index do |item, i|%>
				<a
					href="<%= item[:href] %>"
					<%= item[:turbo_frame] ? "data-turbo-frame=#{item[:turbo_frame]}" : ''  %>
					<%= item[:turbo_action] ? "data-turbo-action=#{item[:turbo_action]}" : ''  %>

					class="tab-item <%= item[:active] ? 'active' : '' %> <%= i > 0 and 'ml-4 lg:ml-8' %>">
					<%= item[:icon] and item[:icon] %>
					<span><%= item[:label] %></span>
				</a>
			<% end %>
		</nav>
	</div>

	<% if content.present? %>
		<div class="py-4"><%= content %></div>
	<% end %>
</div>