 <%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings' do %>

		<%= render PageHeader::Component.new( title: t('settings.app.billing') ) do %>

		<% end %>

		<%= render Tabs::Component.new(	items: billing_menu_data(app: @app) ) do %>
			
			<div class="pt-4">
				<table class="min-w-full">
					<thead>
						<tr class="border-t border-gray-200">
							<th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
								<span class="lg:pl-2">Status</span>
							</th>
							<th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
								Date
							</th>
							<th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
								Amount
							</th>
							<th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
								Receipt
							</th>
						</tr>
					</thead>

					<tbody class="bg-white divide-y divide-gray-100">
						<% @transactions.each do |trx| %>
							<tr>
								<td class="px-6 py-3 max-w-0 w-full whitespace-nowrap text-sm leading-5 font-medium text-gray-900 dark:text-gray-100">
									<div class="flex items-center space-x-3 lg:pl-2">
										<div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-pink-600" />
										<a
											href="#"
											class="truncate hover:text-gray-600 dark:hover:text-gray-200"
										>
											<%= o["status"] %>
										</a>
									</div>
								</td>

								<td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm leading-5 text-gray-500 text-right">
									<%= o.created_at %>
								</td>

								<td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm leading-5 text-gray-500 text-right">
									<%= o.amount%> <%= o.currency %>
								</td>

								<td class="hidden md:table-cell px-6 py-3 whitespace-nowrap text-sm leading-5 text-gray-500 text-right">
									<a href="<%= o.receipt_url%>" target="blank">
										Download receipt
									</a>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		<% end %>

	<% end %>

<% end %>
 
 
