<%= turbo_frame_tag "home-sortable" do %>

	<div class="w-2/4" 
		data-controller="sortable" 
		data-handle=".cursor-move"
		data-url="<%= sort_app_inbox_packages_path(@app.key, kind: @category) %>"
		data-ghost="bg-red-200">
		<% @app_packages.each_with_index do |d, index|%>
			
			<div 
				data-id="<%= index %>"
				class="bg-gray-100 dark:bg-gray-900 mb-2 p-4 flex justify-between items-center">
				<div 
					class="border-md bg-white dark:bg-gray-900 p-4 shadow w-full mx-2 ">
					<%= render DefinitionRenderer::Component.new(
							schema: d["definitions"],
							size: d["sm"],
							blocks: d,
							app_package: d["name"],
							location: "home",
							category: @category,
							values: d["values"],
							conversation_key: nil,
							path: app_package_path(@app.key, d["name"]),
							app: @app,
							ctx: {}
					) do %>
					<% end %>
				</div>
				
				<div class="flex flex-col items-center">
					<div class="cursor-move btn btn-dark-flat">+</div>

					<%= button_to app_home_package_path(
						@app.key, index), 
						method: :delete , class: 'h-10 w-10' do %>
						<svg fill="currentColor" viewBox="0 0 20 20" class="css-1dhg8p7">
							<path 
								fill-rule="evenodd" 
								d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
								clip-rule="evenodd">
							</path>
						</svg>
					<% end %>

				</div>
			</div>

		<% end %>
	</div>

<% end %>