

<div class="min-h-screen bg-gray-50 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <%= image_tag "logo.png", alt: "Chaskiq" , class: "mx-auto h-20 w-auto" %>
    <h2 class="mt-6 text-center text-1xl leading-3 font-light text-gray-400">
      <%= t "devise.invitations.edit.header" %>
    </h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :invitation_token, readonly: true %>

        <% if f.object.class.require_password_on_accepting %>
          <div class="field">
            <%= f.label :password, class: "block text-sm font-medium leading-5 text-gray-700" %>
            <%= f.password_field :password, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
          </div>

          <div class="field my-2">
            <%= f.label :password_confirmation, class: "block text-sm font-medium leading-5 text-gray-700" %>
            <%= f.password_field :password_confirmation,  class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
          </div>
        <% end %>

        <div class="py-4 w-full">
          <%= f.submit t("devise.invitations.edit.submit_button"), 
            class: "btn btn-success sm w-full" %>
        </div>
      <% end %>





    </div>
  </div>
</div>
