<%= form_for @app, url: edit_app_messenger_path(@app.key, :appearance) do |f| %>

	<%= options = t("settings.email_requirement.options").map{|o| {o[:label] => o[:value]} }.reduce Hash.new, :merge %>

	<%= f.collection_radio_buttons :email_requirement, options, :last, :first do |b| %>
			<div class="form-check form-check-inline">
				<%= b.radio_button %>
				<%= b.label class: 'form-check-label' %>
				<div class="input-placeholder"></div>
			</div>
	<% end %>

<% end %>