<%= form_for @app, url: app_messenger_path(@app.key, :appearance) do |f| %>

	<h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 py-4">
		<%= I18n.t('settings.app.appearance_title') %>
	</h3>

	<div class="flex-col space-y-4">
		<%= f.check_box :active_messenger, 
			label: t("definitions.settings.active_messenger.label"),
			hint: t("definitions.settings.active_messenger.hint")
		%>

		<%= f.check_box :inline_new_conversations, 
			label: t("definitions.settings.inline_conversation.label"),
			hint: t("definitions.settings.inline_conversation.hint")
		%>
	</div>

	<%= f.submit t("common.submit"), class: "btn btn-success my-6" %>

<% end %>