<%= form_for @app, url: app_messenger_path(@app.key, :privacy) do |f| %>

	<% 
		privacy_options = [
      {
        name: 'privacyConsentRequired',
        label: I18n.t('definitions.settings.privacy_consent_required_ue.label'),
        hint: I18n.t('definitions.settings.privacy_consent_required_ue.hint'),
        value: 'ue',
        type: 'radio',
        grid: { xs: 'w-full', sm: 'w-full' },
      },
      {
        name: 'privacyConsentRequired',
        label: I18n.t(
          'definitions.settings.privacy_consent_required_all.label'
        ),
        hint: I18n.t('definitions.settings.privacy_consent_required_all.hint'),
        type: 'radio',
        value: 'all',
        grid: { xs: 'w-full', sm: 'w-full' },
      },
      {
        name: 'privacyConsentRequired',
        label: I18n.t(
          'definitions.settings.privacy_consent_required_none.label'
        ),
        hint: I18n.t('definitions.settings.privacy_consent_required_none.hint'),
        type: 'radio',
        value: 'none',
        grid: { xs: 'w-full', sm: 'w-full' },
      }
    ]
  
	%>

	<% options = privacy_options.map{ |o| 
			{o[:label] => o[:value]} 
		}.reduce Hash.new, :merge 
	%>

	<h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 py-4">
		<%= I18n.t('settings.app.privacy') %>
	</h3>

	<%= f.collection_radio_buttons :privacy_consent_required, options, :last, :first do |b| %>
		<div class="form-check form-check-inline mb-4 space-y-2">
			<div class="flex items-center">
				<%= b.radio_button %>
				<%= b.label class: 'ml-2 block font-bold text-sm leading-5 text-gray-900 dark:text-white' %>
			</div>
			<% 
			
				%>
				<% hint = privacy_options.find{|o| o[:value] == b.value} %>
			<div class="input-placeholder text-gray-500 text-xs">
				<%= hint[:hint] %>
			</div>
		</div>
	<% end %>


	<%= f.submit t("common.submit"), class: "btn btn-success my-6" %>


<% end %>