<div class="flex justify-between py-3 items-center">
	<p
		class="text-lg leading-6 font-medium
		text-gray-900"
	>
		<%= I18n.t('settings.languages.title') %>
	</p>

	<div class="flex items-center">

		<button class="btn btn-flat-dark btn-md">
			<%= I18n.t('settings.languages.add') %>
		</button>

		<% options = I18n.available_locales - @app.translations.map(&:locale)  %>
		<% labeled_options = options.map{|o| {label: o, value: o}} %>
		
		<%= form_for @app, url: app_messenger_path(@app.key, :translations) do |f| %>
			<%= f.select :new_language, options_for_select(options.map{|o| [o,o]}, nil), {}, {
				data: {
					'select-target': 'select', 
					options: labeled_options.to_json 
				},
				label: I18n.t('definitions.settings.languages.select_lang')
			} 
			%>
			<%= f.submit("submit") %>
		<% end %>
	</div>
</div>

<%= render 'apps/messenger/forms/translations_table' %>