
<div class="space-y-2">
	<div class="mt-1 space-y-1" aria-labelledby="projects-headline">

		<div class="space-y-2">
			<p
				class="text-sm leading-5 text-gray-500 dark:text-gray-100 font-light">
				<%= I18n.t('dashboard.hey', 
						name: @app.name,
					).html_safe
				%>
			</p>
			<WebSetup />
		</div>

		<% if @app.plan.present?  %>
			<%= link_to app_billing_path(@app.key), 
				class: "group flex items-center py-2 text-sm font-medium text-gray-600 dark:text-gray-100 rounded-md dark:hover:text-gray-200 hover:bg-gray-50 dark:hover:bg-black" do %>
				<span class="truncate">
					Plan: 
					<span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium
					bg-pink-300 text-pink-800
					">
						<%= @app.plan.is_a?(Plan) ? @app.plan.name : @app.plan[:name] %>
					</span>
				</span>
			<% end %>
		<% end %>


		<%= link_to app_messenger_index_path(@app.key), 
			class: "group flex items-center py-2 text-sm font-medium text-gray-600 dark:text-gray-100 rounded-md dark:hover:text-gray-200 hover:bg-gray-50 dark:hover:bg-black" do %>
			<span class="truncate--">
				<%= t("conversations.menu.conversations") %>
				
				<%= render Badge::Component.new(
					size: 'sm',
					variant: @app.active_messenger ? 'green' : 'gray') do 
				%>

					<% if @app.active_messenger %>
						<%= t('dashboard.status_running') %> 
					<% else %>
						<%= t('dashboard.status_paused') %>
					<% end %>

				<% end %>

			</span>
		<% end %>

		<a href="https://dev.chaskiq.io" target="_blank" 
			rel="noopener noreferrer" 
			class="group flex items-center py-2 text-sm font-medium text-gray-600 dark:text-gray-100 rounded-md dark:hover:text-gray-200 hover:bg-gray-50 dark:hover:bg-black">
			<span class="truncate">
				<%= t('dashboard.guides') %> 
			</span>
		</a>
		</div>
</div>
