
<%= render ContentComponent.new do %>
  <div class="flex flex-wrap -mx-4">
    <div>
      <div className="flex flex-wrap -mx-4">
      </div>
    </div>

    <div class='w-full p-4'>
      <%= turbo_frame_tag 'dashboard_app_packages', src: app_dashboard_path(@app.key, 'app_packages') do %>
        loading...
      <% end %>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_first_response_time', 
          src: app_dashboard_path(@app.key, 'first_response_time' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_opened_conversations', 
          src: app_dashboard_path(@app.key, 'opened_conversations' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_solved_conversations', 
          src: app_dashboard_path(@app.key, 'solved_conversations' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_incoming_messages', 
          src: app_dashboard_path(@app.key, 'incoming_messages' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_browser', 
          src: app_dashboard_path(@app.key, 'browser' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_lead_os', 
          src: app_dashboard_path(@app.key, 'lead_os' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_user_os', 
          src: app_dashboard_path(@app.key, 'user_os' ) do %>
          loading...
        <% end %>
      </div>
    </div>

    <div class='lg:w-1/4 w-1/2 p-4'>
      <div class="bg-white dark:bg-gray-900 shadow overflow-hidden  sm:rounded-lg p-4">
        <%= turbo_frame_tag 'dashboard_user_country', 
          src: app_dashboard_path(@app.key, 'user_country' ) do %>
          loading...
        <% end %>
      </div>
    </div>

  </div>
<% end %>




