<p class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100 pb-4">
	<%= I18n.t("articles.settings.basic") %>
</p>

<%= form_for @article_setting, url: app_articles_settings_path(@app.key) do |f| %>

	<%= f.text_field :subdomain %>
	<%= f.text_field :domain %>
	<%= f.text_field :website %>
	<%= f.text_field :google_code %>

	<%= f.submit(t("common.save")) %>
<% end %>