<%= render Content::Component.new do %>

	<%= turbo_frame_tag 'app-settings' do %>

		<%= render PageHeader::Component.new( title: t('settings.app.email_forwarding') ) do %>

		<% end %>

		<%= render Tabs::Component.new(	items: settings_menu_data ) do %>
			<div class="py-4">
				<h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-gray-100">
					<%= t('email_forwarding.subtitle')%>
				</h3>
				<div class="mt-2 max-w-xl text-sm text-gray-500">
					<p><%= t('email_forwarding.ex')%></p>
				</div>
				<div class="mt-3 text-sm bg-gray-200 p-4 rounded-md">
					<p
						href="#"
						class="font-medium text-indigo-600 hover:text-indigo-500">
						<%= @app.inbound_email_address %>
					</p>
				</div>
			</div>
		<% end %>

	<% end %>

<% end %>