<%= turbo_frame_tag "campaign-editor-form" do %>
  <%= form_for @campaign, 
    url: app_campaign_path(@app.key, @campaign, namespace: :banner),
    data: {controller: "draft-save"} do |f| %>

    <div class="border rounded-md flex flex-col shadow-md">
      <div class="bg-gray-300">
        <div class="flex space-x-2 p-3">
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-red-500"></div>
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-yellow-500"></div>
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-green-500"></div>
        </div>
      </div>

      <%= hidden_field_tag :tab, "editor" %>

      <div class="bg-white">
        <div class="relative" style="height: 272px;">

          <%= render Banner::Component.new(
            **@campaign.banner_data, 
            serialized_content: @campaign.serialized_content
          ) do %>

            <div 
              data-controller="dante-editor" 
              data-content="<%= @campaign.serialized_content %>"
              data-theme="dark">
              <div data-dante-editor-target="container"></div>

              <%= f.hidden_field :serialized_content, 
                data: {"dante-editor-target": "serializedInput"},
                value: f.object.serialized_content.to_json
              %>
            </div>

          <% end %>

          <!--<div 
            data-controller="dante-editor" 
            data-content="<%= @campaign.serialized_content %>">
            <div data-dante-editor-target="container"></div>

            <%= f.hidden_field :serialized_content, 
              data: {"dante-editor-target": "serializedInput"},
              value: f.object.serialized_content.to_json
            %>
          </div>-->

        </div>
      </div>
    </div>


    <div class="p-5 border-t rounded-b-md bg-gray-100">

      <div class="flex space-x-4">

        <div class="flex flex-col w-1/3 justify-">

          <div class="flex flex-col pr-6 justify-between">
            <%= f.check_box :dismiss_button, data: {action: "draft-save#submit"} %>
            <%= f.check_box :show_sender, data: {action: "draft-save#submit"} %>
            <%= f.select :sender_id, @app.agents.humans.map{|o| 
              [(o.display_name || o.email), o.id]
            }, {
              data: {action: "draft-save#submit"}
            } %>
          </div>
        </div>

        <div class="flex flex-col w-1/3 justify-between">
          <%= f.text_field :url, data: {action: "input->draft-save#submit"} %>
          <%= f.text_field :action_text, data: {action: "input->draft-save#submit"} %>
        </div>

        <div class="flex flex-col w-1/3 justify-between">
          <%= f.select :font_options, [
            ['None', nil],
            ['Lato', 'Lato'],
            ['OpenSans', 'Open+Sans'],
            ['Roboto', 'Roboto'],
            ['Montserrat', 'Montserrat'],
            ['Merriweather', 'Merriweather'],
            ['Poppins', 'Poppins'],
            ['Roboto+Mono', 'Roboto+Mono'],
            ['Pt+Sans', 'Pt+Sans'],
            ['Ubuntu', 'Ubuntu'],
            ], {data: {action: "draft-save#submit"}} 
          %>
          <%= f.color_field :bg_color, data: {action: "draft-save#submit"} %>

          <div class="flex flex-wrap justify-between space-y-4">
            <%= f.radio_button :placement, :top, label: :top, data: {action: "draft-save#submit"} %>
            <%= f.radio_button :placement, :bottom, label: :bottom, data: {action: "draft-save#submit"} %>
          </div>
          <div class="flex flex-wrap justify-between space-y-4">
            <%= f.radio_button :mode, :floating, label: :floating, data: {action: "draft-save#submit"} %>
            <%= f.radio_button :mode, :inline, label: :inline, data: {action: "draft-save#submit"} %>
          </div>
        </div>
      </div>

      <div class="flex justify-end py-4">
        <%= f.submit("Save", class: "btn btn-success md", commit: "save") %>
      </div>

    </div>

  <% end %>
<% end %>
