<%= turbo_frame_tag "campaign-editor-form" do %>
  <%= form_for @campaign, url: app_campaign_path(@app.key, @campaign) do |f| %>

  ooijojoij
    <%= hidden_field_tag :namespace, :user_auto_messages %>

    <div class="border rounded-md flex flex-col shadow-md mb-4">

      <div class="bg-gray-300">
        <div class="flex space-x-2 p-3">
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-red-500"></div>
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-yellow-500"></div>
          <div class="border border-gray-600 rounded-full h-3 w-3 bg-green-500"></div>
        </div>
      </div>

    

      <div class="bg-white p-3">
        <div class="flex justify-end">
          <div class="m-8 w-1/3 h-[calc(100vh-20rem)] overflow-auto border rounded-md shadow-sm p-4">
              <div data-controller="dante-editor"
                style="max-height: 200px;" 
                data-content="<%= @campaign.serialized_content %>">
                <div data-dante-editor-target="container"></div>

                <%= f.hidden_field :serialized_content, 
                  data: {"dante-editor-target": "serializedInput"},
                  value: f.object.serialized_content.to_json
                %>
                <% #= f.hidden_field :html_content , data: {"dante-editor-target": "htmlInput"}%>
              </div>

          </div>
        </div>
      </div>
    </div>

    <%= f.submit class: "btn btn-success" %>


  <% end %>
<% end %>
