<div class="button-wrapper <%= @align %>">
	<button id="<%= @id %>" 
		class="<%= @variant %> <%= @size %>"
		data-field-json="<%= json_data %>"
		<%= @action['url'] ? "data-action-url=#{@action['url']}" : '' %>
		data-action="<%= action_method %>">
		<%= @label%>
	</button>
</div>


