<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="<%= asset_url('favicon.png') %>" sizes="16x16">

    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta name="chaskiq-host" content="<%= Chaskiq::Config.get('HOST') %>"/>
    <meta name="chaskiq-ws" content="<%= Chaskiq::Config.get('WS') %>"/>

    <% if auth0_enabled? %>
      <meta name="auth0-domain" content="<%= Chaskiq::Config.get('AUTH0_DOMAIN') %>"/>
      <meta name="auth0-client-id" content="<%= Chaskiq::Config.get('AUTH0_CLIENT_ID') %>"/>
    <% elsif oauth_app = Doorkeeper::Application.first %>
      <meta name="chaskiq-client-id" content="<%= oauth_app.uid %>"/>
    <% end %>

    <!--
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, initial-scale=1' media='(device-height: 568px)' name='viewport'>
    -->
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    >
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css' rel='stylesheet' />

    <% #= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #= stylesheet_pack_tag "application" %>
    <% #= javascript_pack_tag 'application' %>
    <!--<link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Mono&display=swap" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "cm", "dracula", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "new_application", "data-turbo-track": "reload", defer: true %>
    <!-- Add CodeMirror script from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.4/codemirror.min.js" data-turbo-track="reload"></script>

    <!--<meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">-->
  </head>

  <body>

    <div class="page antialiased <%= cookies[:darkmode] %>" id="main-page" 
      data-controller="modal-- slide-modal dark-mode connectivity" 
      data-modal-allow-background-close="false">

      <div data-connectivity-target="notice" class="hidden py-2 fixed bg-red-500 w-full z-20 text-white text-xs flex items-center justify-center">
        <span>You are offline. Check your internet connection.</span>
      </div>

      <%= render "shared/flash" %>

      <% if @app.present? && @app.persisted? %>

        <div id="chaskiq-panel-custom-events"></div>


        <div data-turbo-permanent id="app-stream">
          <%= turbo_stream_from @app, :conversations %>
        </div>

        <% #= turbo_frame_tag "content" , data: {'history-target': 'contentframe'} do %>
          <div class="h-screen flex overflow-hidden bg-white dark:bg-gray-900 dark:text-white">
            <%= render "shared/nav" %>
            <div class="flex flex-col w-0 flex-1 overflow-auto">
              <%= yield %>
            </div>

            <%= turbo_frame_tag "fixed-app-packages", 
              src: capabilities_app_packages_path(
                @app.key, 
                kind: "fixed_sidebar"
              ), data: {turbo_permanent: true} do %>
              loading
            <%  end %>
          
          </div>
        <% #end %>
      <% else %>
        <%= yield %>
      <% end %>

      <% #= turbo_frame_tag "modal" %>
      <div data-controller="modal-form">
        <% #= render 'shared/modal' %>
      </div>

      <%= turbo_frame_tag "modal" %>

      <div data-controllerrrrrr="slide-modal-form">
        <%= render 'shared/slide-modal' %>
      </div>
    </div>

    <% if paddle_subscriptions? %>
      <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
      <script type="text/javascript">
        Paddle.Setup({ vendor: 115475 });
      </script>
    <% end %>

    <% if current_agent.present? and
      support_data = support_app_data and
      support_data.present? %>

      <script data-turbo-eval='false'>
        (function(d,t) {
          var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src="<%= Chaskiq::Config.get('HOST') %>/embed.js"
          s.parentNode.insertBefore(g,s);
          g.onload=function(){
            window.chaskiqSupport = new window.ChaskiqMessengerEncrypted({
              domain: "<%= Chaskiq::Config.get('HOST') %>",
              ws:  "<%= Chaskiq::Config.get('WS') %>",
              app_id: "<%= support_app_data[:app].key %>",
              data: <%= raw support_app_data[:enc] %>
            })
          }
        })(document,"script");
      </script>

    <% end %>

    <div id="ChaskiqMessengerRoot" data-turbo-permanent="true">
    </div>

    <div class="fixed right-0 top-0 ml-5 z-50" 
      data-controller="main-loader"
      data-action="turbo:before-fetch-request@window->main-loader#handleShow turbo:before-fetch-response@window->main-loader#handleHide">
      <svg data-main-loader-target="spinner" id="spinner-loader" class="hidden animate-spin -ml-1 mr-3 h-10 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
      </svg>
    </div>

  </body>
</html>
