<!DOCTYPE html>
<html>
  <head>
    <title>Hermes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <!--<meta content='width=device-width, initial-scale=1' name='viewport'>
    <meta content='width=device-width, initial-scale=1' media='(device-height: 568px)' name='viewport'>
    -->
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    >

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <% # stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% # javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% # stylesheet_pack_tag "articles" %> 
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  
    <% if Rails.env.test? %>
      <script src="/packs-test/embed.js?<%=Time.now%>"></script>
    <% else %>
      <script src="/packs/embed.js?<%=Time.now%>"></script>
    <% end %>
  
  

  </head>

  <body>
    <div class="page" id="main-page">
    </div>

    <script type="text/javascript">
      var m = new window.HermessengerEncrypted({
        domain:  '<%=@h[:http] +request.env["HTTP_HOST"]%>',
        ws:  '<%=@h[:ws]+ request.env["HTTP_HOST"] + "/cable" %>',
        app_id: "<%= @app.key %>",
        data: "<%=@encrypted_data%>"
      })
      
    </script>



  </body>
</html>
