<!DOCTYPE html>
<html>
  <head>
    <title>Hermes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/antd/3.5.4/antd.css">-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag "sessions" %> 
    <%= javascript_pack_tag 'sessions' %>

    <style>
    

    .error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;text-align: center;}
    .success {background:#e6efc2;color:#264409;}
    .actions{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    
    </style>

  </head>

  <body>
    <div class="page" id="main-page">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
        <div style="margin-top: 2em;">
          <%= yield %>
        </div>
        
    </div>
  </body>
</html>
