<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <% #= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="page" id="main-page">
      <%= render partial: "shared/flash" %>
      <div class="mt-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
