<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <% stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%-# stylesheet_pack_tag "sessions" %> 
    <% #= javascript_pack_tag 'sessions' %>

    <style>
    

    .error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;text-align: center;}
    .success {background:#e6efc2;color:#264409;}
    .actions{
      margin-top: 2em;
      margin-bottom: 2em;
    }
    
    </style>

  </head>

  <body>
    <div class="page" id="main-page">
        <% flash.each do |key, value| %>

          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline"><%= key %> <%= value %></span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
              <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>

          <%= content_tag :div, value, class: "flash #{key}" %>
        <% end %>
        <div style="margin-top: 2em;">
          <%= yield %>
        </div>
        
    </div>
  </body>
</html>
