<!DOCTYPE html>
<html>
  <head>
    <title>Chaskiq App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="<%= asset_url('favicon.png') %>" sizes="16x16">

    <meta content='True' name='HandheldFriendly'>
    <meta content='320' name='MobileOptimized'>
    <meta name="chaskiq-host" content="<%= ENV['HOST'] %>"/>

    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    >

    <script> window.chaskiq_cable_url = "<%= ENV['WS'] %>"</script>

    <%= stylesheet_link_tag "application", "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "new_application", "data-turbo-track": "reload", defer: true %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="page" id="main-page">
      <div id="light">
			  <%= yield %>
      </div>
    </div>
  </body>
</html>
